{% extends "base.html" %} {% block title %}Editar Peça{% endblock %} 
{% block content %}
<div class="container">
  <h1>Editar Peça</h1>
  <form method="post">
    {% csrf_token %} {% for field in fields %}
    <div>
      <label for="{{ field.name }}">{{ field.label }}</label>
      <input
        type="text"
        id="{{ field.name }}"
        name="{{ field.name }}"
        value="{{ field.value }}"
      />
    </div>
    {% endfor %}
    <button type="submit">Salvar</button>
  </form>
  <a href="{% url 'pecas' %}">Voltar</a>
</div>
{% endblock %}
